<a href="https://colab.research.google.com/github/ErlantzCalvo/Parkinson_Detection/blob/master/Parkinson_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
drive  parkinson_disease  sample_data

In [ ]:
%cd drive/My\ Drive
%cd 'Colab Notebooks/'
%cd 'datasets/ParkinsonDisease/'

/content/drive/My Drive/Colab Notebooks/datasets/ParkinsonDisease

In [ ]:
import os
import pandas as pd
from tqdm import tqdm

# Data explanation
The data .csv has the next format: \\
  X ; Y; Z; Pressure; GripAngle; Timestamp; Test ID

----------------
Test ID: \\
0: Static Spiral Test ( Draw on the given spiral pattern) \\
1: Dynamic Spiral Test ( Spiral pattern will blink in a certain time, so subjects need to continue on their draw) \\
2: Circular Motion Test (Subjectd draw circles around the red point)

# Loading data
We've got 2 different datasets:
  

*   **Control**: People who did the tests without having the Parkinson disease. 
*   **Parkinson**: People who did the tests having the Parkinson disease. 

*Note:* The parkinson dataset is splitted in two different paths, so we'll load both of them and then mix them.

In [ ]:
CONTROL_DATASET_PATH = 'hw_dataset/control'
PARKINSON_DATASET_PATH = 'hw_dataset/parkinson'
PARKINSON_DATASET_PATH_2 = 'new_dataset/parkinson'
COLUMN_NAMES = ['X', 'Y', 'Z', 'Pressure', 'GripAngle', 'Timestamp', 'Test ID','UserId']

userid = 0
#Load Control dataset
control_files = os.listdir(CONTROL_DATASET_PATH)
df_control = pd.DataFrame()
for i in tqdm(range(len(control_files)), desc= 'Control files: ', unit=' files'):
  new_user_path = os.path.join(CONTROL_DATASET_PATH, control_files[i])
  new_user = pd.read_csv(new_user_path, header=None,  sep=';')
  new_user['UserId'] = userid
  df_control = df_control.append(new_user)
  userid +=1
  
df_control.columns = COLUMN_NAMES


#Load parkinson dataset
parkinson_files = os.listdir(PARKINSON_DATASET_PATH)
df_parkinson = pd.DataFrame()

for j in tqdm(range(len(parkinson_files)), desc= 'Parkinson files: ', unit=' files'):
  new_user_path = os.path.join(PARKINSON_DATASET_PATH, parkinson_files[i])  
  new_user = pd.read_csv(new_user_path, header=None,  sep=';')
  new_user['UserId'] = userid
  df_parkinson = df_parkinson.append(new_user)
  userid +=1

parkinson_files =  os.listdir(PARKINSON_DATASET_PATH_2)
for k in tqdm(range(len(parkinson_files)), desc= 'Parkinson files: ', unit=' files'):
  new_user_path = os.path.join(PARKINSON_DATASET_PATH_2, parkinson_files[i])  
  new_user = pd.read_csv(new_user_path, header=None,  sep=';')
  new_user['UserId'] = userid
  df_parkinson = df_parkinson.append(new_user)
  userid +=1


df_parkinson.columns = COLUMN_NAMES
df_parkinson

Control files: 100%|██████████| 15/15 [00:00<00:00, 103.33 files/s]
Parkinson files: 100%|██████████| 25/25 [00:00<00:00, 104.31 files/s]
Parkinson files: 100%|██████████| 37/37 [00:00<00:00, 100.77 files/s]

        X    Y    Z  Pressure  GripAngle   Timestamp  Test ID  UserId
0     198  199    0        64        990     2717202        0      15
1     197  200    0       100       1030     2717211        0      15
2     197  200    0       140       1030     2717220        0      15
3     196  200    0       175       1030     2717229        0      15
4     196  200    0       188       1010     2717238        0      15
...   ...  ...  ...       ...        ...         ...      ...     ...
3542  198  256  770         0       1690  1214808546        2      76
3543  198  255  794         0       1640  1214808553        2      76
3544  197  254  818         0       1580  1214808560        2      76
3545  197  252  842         0       1510  1214808567        2      76
3546  197  252  842         0       1510  1214808588        2      76

[319539 rows x 8 columns]